//LogFlags
CFGITEM(LogFlags, int)

//Server
CFGITEM(Port, int)

//SSL
CFGITEM(SSL, int)
CFGITEM(CertFile, AnsiString)
CFGITEM(KeyFile, AnsiString)
CFGITEM(RootCertFile, AnsiString)

//Protocol
CFGITEM(ConnTOms, int)
CFGITEM(SubsTOms, int)
CFGITEM(BuffSubs, int)

